@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron" id="banner">
        <h1 style="display:none">Que Podemos Comer Hoy?</h1>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Bienvenido a "Que Podemos Comer hoy?"</h2>
        <p>
            Esta es una aplicacion Web para el TP de DDS UTN 2015 - Grupo 85.
            Esta aplicacion fue creada con ASP.NET MVC 5 y utiliza Entity Framework 6.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Codigo Fuente</h2>
        <p>El codigo fuente esta disponible en Github.</p>
        <p><a class="btn btn-default" href="https://github.com/FedeRoma/TPDDS/tree/master/CodigoFuente/DDS_TP" target="_blank">Download &raquo;</a></p>
    </div>
</div>