body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#banner {
	height: 300px;
	background-color: #BBB;
	background-image: url(Images/fondo3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

#appIcono {
    /*padding-right: 5px;*/
    width: 40px;
    height: 40px;
}

#brandIcono {
    padding: 5px;
}

@media (max-width: 518px) {
    #col_nombre{}
    #col_dificultad{}
    #col_totcal{}
    #col_piramide{display:none;}
    #col_creador{display:none;}
    #col_acciones{}
}

@media (max-width: 377px) {
	.navbar-brand {
	    float: left;
	    padding: 15px 5px;
	    font-size: 16px;
	    line-height: 20px;
	}
}

@media (max-width: 337px) {
	#brandIcono {display:none;}
    #col_dificultad{display:none;}
    #col_piramide{display:none;}
    #col_creador{display:none;}
}

@media (max-width: 286px) {
	#brandIcono {display:inline-block;}
    .navbar-brand {display:none;}
    #col_dificultad{display:none;}
    #col_piramide{display:none;}
    #col_creador{display:none;}
}