@model TP_DDS.Models.Temporada

@using HtmlHelpers.BeginCollectionItem

@using (Html.BeginCollectionItem("Temporadas"))
{
    @Html.HiddenFor(m => m.Id)
    <td>
        @Html.CheckBoxFor(m => m.Sel, new { @class = "chkSelectTemp" })
    </td>
    <td>
        @Model.Nombre
        @Html.HiddenFor(m => m.Nombre)
    </td>
}